.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.50);
}

@media screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(50% - 4.5rem);
    }
}

@media screen and (min-width: 950px) {
    .receita {
        margin-right: 3rem;
        width: calc(33.33% - 5rem);
    }
}

@media screen and (min-width: 1500px) {
    .receita {
        margin-right: 5rem;
        width: calc(25% - 7rem);
    }
}